*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e6ec;
}
#toast-container{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}